// color
$primary-color: #00abff;
$text-color: #333333;
$dark-text: #3c3c3c;
$white: #fff;

// few mixin
@mixin br-size {
  border-radius: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 14px; // 1rem = 14px
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: $text-color;
  background-color: $white;
}

// header
header {
  color: $white;

  .navbar {
    background-color: $primary-color;
    padding: 1rem 0;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    .navbar-brand {
      color: $white;
      font-size: 1.5rem;
      font-weight: 500;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      i {
        font-style: italic;
        -webkit-box-shadow: 4px 3px 12px -3px #f7f7f74d;
        box-shadow: 4px 3px 12px -3px #f7f7f74d;
        padding: 2px;
        margin-right: 0.8rem;
        sub {
          font-size: 0.8rem;
        }
      }
      &:hover {
        color: $white;
      }
    }

    .navbar-nav {
      .profile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        img {
          width: 32px;
          height: 32px;
          border-radius: 100%;
        }
      }
    }
  }
}
// header inner
.active-user {
  .user-list {
    position: relative;

    &-item {
      border: 1px solid $primary-color;
      // right: 0.75rem;
      // position: absolute;
      // margin-left: -8px;
      cursor: pointer;
      -webkit-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      transition: 0.3s all ease;
      position: relative;
      z-index: 99;
      height: 42px;
      width: 42px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-left: -0.7rem;
      -webkit-transition: margin-left 200ms;
      -o-transition: margin-left 200ms;
      transition: margin-left 200ms;
      &:hover {
        margin-left: 0;
      }
    }
  }
}
// .user-list-item:hover + user-list-item {
//   margin-left: -1em;
// }
// login
.qd-register {
  background-color: $white;

  &__left {
    background-image: url("../img/login-bg.svg");
    background-size: cover;

    &-inner {
      min-height: 100%;
      @media screen and (max-width: 600) {
        min-height: auto;
      }
    }

    &-title {
      font-size: 4.5rem;
      font-weight: 900;
      margin-top: 3rem;
    }
  }
}

// table
.table > :not(caption) > * > * {
  padding: 0;
  border: 0;
}
.table {
  white-space: nowrap;
  border-radius: 6px 6px 6px 6px;

  thead {
    tr {
      th {
        padding-bottom: 1rem;
      }
    }
  }

  tbody {
    tr {
      &:first-child {
        border-top: 1px solid #dee2e6;
      }

      td {
        padding: 1rem 0.5rem;
        border-bottom: 1px solid #dee2e6;

        &:first-child {
          border-left: 1px solid #dee2e6;
          // border-top:  1px solid red;
        }
        &:last-child {
          border-right: 1px solid #dee2e6;
        }
      }
    }
  }
}
.table-max-width {
  white-space: normal;

  tbody {
    tr {
      td {
        max-width: 300px;
      }
    }
  }
}

// model
.modal-header {
  padding: 1rem 2rem;
  padding-top: 2rem;
  border-bottom: 0;

  .btn-close {
    border: 1px solid $primary-color;
  }
}
.modal-content {
  @include br-size;
}
.modal-body {
  padding: 1rem 2rem;
  padding-bottom: 2rem;
}

// dropdown

.dropdown-menu {
  border: 0;
  background-color: $primary-color;
  font-size: 1.1rem;
  padding: 0.6rem 0;
  margin-top: 5px;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

  .dropdown-item {
    text-transform: capitalize;
    font-weight: 500;
    color: $white;
    padding: 0.8rem 2rem;
    border-bottom: 0.5px solid #ffffff66;

    &:last-child {
      border-bottom: 0;
    }

    &:hover,
    &:focus {
      background-color: #e9ecef0d;
    }
  }
}

.dropdown-menu[data-bs-popper] {
  margin-top: 0;
  right: 0;
  left: auto;
}

// list
.custom-ol {
  counter-reset: item;
  list-style-type: none;
}

.custom-ol li:before {
  content: "Q" counter(item, decimal) ". ";
  counter-increment: item;
}

// table page search btn
#search-btn {
  border-radius: 0.25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  padding: 0.2rem 1rem 0.2rem 0.5rem;

  input {
    background: #f1f1f1;
    font-size: inherit;
    line-height: 1;
  }
}

// common
main {
  margin: 2rem 0;
}
.form-control {
  padding: 0.75rem 0.75rem;
  @include br-size;

  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.navbar-dark .navbar-toggler {
  border: none;

  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
// btn
.btn {
  @include br-size;
}
.btn-login {
  background-color: $primary-color;
  padding: 0.75rem 0.75rem;
}
.btn-large {
  padding: 0.75rem 0.75rem;
}
.btn-secondary {
  background-color: #939da5;
  border-color: #939da5;
}
.btn-outline-primary {
  color: $primary-color;
  border-color: $primary-color;
}

a {
  text-decoration: none;
}

// custome class
.text-qd {
  color: $primary-color;
}
.text-sec {
  color: #0b4654;
}
.primary-bg {
  background-color: $primary-color;
}
.primary-color {
  color: $primary-color;
}
.title-color {
  color: #8d8d8d;
}
.fs-small {
  font-size: 0.85rem;
}
.cus-border {
  border: 2px solid #dee2e6;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
}
